<header></header>

<div class="hero-unit alignCenter">
    <div class="page-header">
        <h2>Login</h2>
    </div>
    <section>
        <form class="well" ng-submit="loginUser()">
            <label for="username">Username</label><input type="text" id="username" ng-model="username">
            <label for="password">Password</label><input type="password" id="password" ng-model="password">
            <br/>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </section>
</div>
