<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#/map.html">Home</a></li>

  </ul>
  <h3 class="text-muted">weather</h3>
</div>

<div class="row">
    <div class="span8">
        <google-map id="mainMap"
                center="map.center"
                zoom="map.zoom"
                draggable="true"
                events="map.events"
                options="map.options"
                control="map.control"
                mark-click="true">

            <marker coords="searchLocationMarker.coords"
                    options="searchLocationMarker.options"
                    events="searchLocationMarker.events" >
            </marker>

        </google-map>
    </div>
</div>

<div class="jumbotron">
    <form>
        <input type="text" ng-model="coordinates.model.latitude">
        <input type="text" ng-model="coordinates.model.longitude"><br>
        <a href="#/weather"> See Weather Forecast</a>
    </form>
</div>
